@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700;800;900&family=Cairo:wght@300;400;500;600;700;800&display=swap");
$main1-box-color: #1d1933;
$main-color: #f28600;
$body-color: #121128;
$white-color: #fff;
$main-hover-color: #7505f0;
:root {
  --test-width: 402px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: $body-color;
}
::selection {
  color: white;
  background-color: $main-hover-color;
}
.container {
  min-width: 85vw;
  max-width: 85vw;
}
::-webkit-scrollbar {
  background-color: rgb(0 0 0 / 10%);
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: $main-hover-color;
  border-radius: 20px;
}
.main-title {
  --offset: 10px;
  --border-size: 2px;
  padding: 20px 50px;
  letter-spacing: 0.25em;
  outline: none;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: 0.8s ease;
  margin: 70px auto;
  font-size: 20px;
  &:hover {
    background: hsla(269, 96%, 48%, 0.03);
    color: $main-hover-color !important;
    .button__horizontal {
      transform: scaleX(0);
    }
    .button__vertical {
      transform: scaleY(0);
    }
  }
}
.button__ {
  &horizontal,
  &vertical {
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
    &::before {
      content: "";
      position: absolute;
      border: inherit;
    }
  }
  &horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
    &::before {
      top: calc(var(--vertical-offset) - var(--border-size));
      bottom: calc(var(--vertical-offset) - var(--border-size));
      left: calc(var(--vertical-offset) * -1);
      right: calc(var(--vertical-offset) * -1);
    }
  }
  &vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
    &::before {
      top: calc(var(--horizontal-offset) * -1);
      bottom: calc(var(--horizontal-offset) * -1);
      left: calc(var(--horizontal-offset) - var(--border-size));
      right: calc(var(--horizontal-offset) - var(--border-size));
    }
  }
}
/* Start Header */
header {
  background-color: $main1-box-color;
  .container .main-links {
    font-size: 25px;
    a {
      color: $white-color;

      --s: 0.1em;

      color: #0000;
      padding-bottom: var(--s);
      background: linear-gradient(90deg, $main-color 50%, white 0)
          calc(100% - var(--_p, 0%)) / 200% 100%,
        linear-gradient($main-color 0 0) 0% 100% / var(--_p, 0%) var(--s)
          no-repeat;
      -webkit-background-clip: text, padding-box;
      background-clip: text, padding-box;
      transition: 0.5s;
      &:hover,
      &.active {
        --_p: 100%;
      }
    }
    @media (max-width: 823px) {
      & {
        gap: 32px !important;
      }
    }
  }
}
@media (max-width: 762px) {
  header .container {
    .main-links {
      gap: 27px;
      font-size: 25px;
    }
    .other {
      gap: 20px;
      font-size: 21px;
      lord-icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}
@media (max-width: 555px) {
  header {
    display: none !important;
  }
  .header {
    display: block !important;
  }
  .show-head {
    display: block !important;
  }
}
@media (max-width: 656px) {
  header .container .main-links {
    font-size: 21px;
  }
}
.header {
  transform: translateY(500px);
  background-color: $main1-box-color;
  transition: 0.5s;
  .container .links {
    font-size: 25px;
    gap: 30px;
    div a {
      p {
        --s: 0.1em;
        --c: #f28600;

        color: #0000;
        padding-bottom: var(--s);
        background: linear-gradient(90deg, var(--c) 50%, white 0)
            calc(100% - var(--_p, 0%)) / 200% 100%,
          linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s)
            no-repeat;
        -webkit-background-clip: text, padding-box;
        background-clip: text, padding-box;
        transition: 0.5s;
        &:hover {
          --_p: 100%;
        }
      }
      i {
        color: $main-color;
      }
    }
  }
}
.show-head {
  color: $main-color;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 25px;
  z-index: 9999;
}
.show {
  transform: translateY(0) !important;
}
/* End Header */
/* Start Home */
.home .container {
  .info {
    width: fit-content;
    font-size: 1.9em;
    h1 {
      font-size: revert;
    }
    .h1-home {
      color: $main-color;
      transition: 0.3s;
      border-right: 2px solid $main-color;
      animation: control-width 7s 1s steps(25) infinite both,
        blink 0.5s 1s infinite;
    }
    @media (max-width: 610px) {
      & {
        --test-width: 255px;
        font-size: 1.2em;
      }
    }
  }
  img {
    height: 30vw;
    animation: img-up 3s infinite linear;
  }
}
@media (max-width: 875px) {
  .home .container img {
    display: none;
  }
}
/* End Home */
/* Start About */
.about {
  min-height: 60vh;
  background: linear-gradient(
    272deg,
    transparent,
    $main1-box-color,
    transparent
  );
  .container {
    min-height: 65vh;
    place-content: center;
    .info {
      h2 {
        color: $main-color;
        letter-spacing: 1.5px;
      }
      p {
        font-size: 25px;
      }
      a {
        color: gainsboro;
      }
    }
    .icons {
      margin: 10px auto 40px auto;
      font-size: 40px;
      @media (max-width: 560px) {
        & {
          width: 75% !important;
        }
      }
      @media (max-width: 354px) {
        & {
          width: 100% !important;
        }
      }
      i {
        transition: 0.3s;
        &:hover {
          transform: scale(1.8) rotate(360deg);
        }
      }
    }
  }
}
.download {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: #2a2544;
  font-size: 20px;
  transition: all 0.15s ease;
  width: fit-content;
  outline: none !important;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7d8082;
    transition: all 0.15s ease;
  }
  &::before {
    top: 0;
    border-bottom-width: 0;
  }
  &::after {
    bottom: 0;
    border-top-width: 0;
  }
  &:active {
    &::before,
    &::after {
      right: 3px;
      left: 3px;
    }
    &::before {
      top: 3px;
    }
    &::after {
      bottom: 3px;
    }
  }
  .button_lg {
    padding: 10px 20px;
    background-color: #2a2544;
    box-shadow: inset 0px 0px 0px 1px transparent;
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #2a2544;
    }
    &::before {
      top: 0;
      left: 0;
      width: 2px;
      height: 2px;
    }
    &::after {
      right: 0;
      bottom: 0;
      width: 4px;
      height: 4px;
    }
  }
  .button_sl {
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: $main-hover-color;
    transform: skew(-15deg);
    transition: all 0.2s ease;
  }
  &:hover {
    color: #2a2544;
    .button_sl {
      width: calc(100% + 15px);
    }
    .button_lg::after {
      background-color: #fff;
    }
  }
}
/* End About */
/* Start Services */
.services .container .box {
  flex-direction: column;
  background-color: $main1-box-color;
  lord-icon {
    width: 200px;
    height: 200px;
  }
  h3 {
    color: $main-color;
    letter-spacing: 1.5px;
    @media (max-width: 374px) {
      & {
        $test-width: 255px;
        font-size: 22px !important;
      }
    }
  }
}
/* End Services */
/* Start Skills */
$arr: 90%, 90%, 85%, 10%, 85%, 80%, 10%, 75%, 80%, 75%, 10%, 10%;
$i: 1;

.skills .container {
  .info {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    place-items: center;
    .box {
      font-size: 100px;
      width: 180px;
      height: 180px;
      place-content: center;
      border: 3px solid $main-hover-color;
      box-shadow: 0px 0px 10px 0px $main-hover-color;
      transition: 0.5s;
      &::before {
        content: "";
        position: absolute;
        left: -50%;
        width: 200%;
        z-index: -1;
        height: 0%;
        transform: skew(5deg);
        bottom: -20px;
        border-radius: 50%;
        background-color: $main-hover-color;
        animation: waving 2s ease-in-out infinite alternate;
        transition: 0.5s;
      }
      &::after {
        content: attr(number) "%";
        position: absolute;
        color: white;
        top: 100%;
        font-size: 20px;
        left: 50%;
        transform: translateX(-40%);
        transition: 0.5s;
      }

      @each $e in $arr {
        &:nth-child(#{$i}):hover::before {
          height: calc($e + 20px);
        }
        $i: $i + 1;
      }

      &:hover {
        box-shadow: 0px 0px 30px 0px $main-hover-color;
        transform: scale(1.05);
        border-radius: 50% !important;
        &::after {
          top: 10px;
        }
      }
      img {
        height: 100px;
        width: 100px;
      }
    }
  }
  .tools {
    h2 {
      color: $main-color;
      letter-spacing: 1.5px;
      margin: 60px 0;
    }
    .images img {
      height: 170px;
    }
  }
}
/* End Skills */
/* Start Project */
.project {
  min-height: 80vh;
  .container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    place-items: center;
    .card {
      background-color: $main1-box-color;
      gap: 10px;
      transition: 0.3s;
      &:hover {
        border: 1px solid $main-hover-color;
      }
      .title {
        font-size: 24px;
      }
      .image img,
      .image video {
        transition: 0.5s;
        width: 90%;
      }
      &:hover .image img,
      &:hover .image video {
        opacity: 0.5;
        transform: translateX(30%);
      }
      .details {
        background-color: $body-color;
        transition: 0.5s;
        transform-origin: left;
        transform: perspective(2000px) rotateY(-90deg);
        width: 70%;
        .center {
          padding: 20px;
          background-color: $main1-box-color;
          max-width: 90%;
          h1 {
            line-height: 20px;
            font-size: 20px !important;
          }
          P {
            margin: 10px 0;
          }

          $color: html #f16529, css #2965f1, js #f7e018, php #7175aa, my #00618a,
            sql #e48e00;

          @each $name, $color in $color {
            .#{$name} {
              color: $color;
            }
          }
          .showVideo,
          .view-web {
            --s: 0.1em;
            --c: #f28600;

            color: #0000;
            padding-bottom: var(--s);
            background: linear-gradient(90deg, var(--c) 50%, white 0)
                calc(100% - var(--_p, 0%)) / 200% 100%,
              linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s)
                no-repeat;
            -webkit-background-clip: text, padding-box;
            background-clip: text, padding-box;

            transition: 0.5s;
            &:hover {
              --_p: 100%;
            }
          }
        }
      }
      &:hover .details {
        transform: perspective(2000px) rotateY(0deg);
      }
    }
    @media (max-width: 470px) {
      & {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      }
    }
  }
}
/* End Project */
/* Start Contact */
.contact .container {
  place-content: center;
  grid-template-columns: 70%;
  form {
    background-color: $main1-box-color;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    h4 {
      font-weight: 800;
      margin-bottom: 20px;
    }
    input,
    textarea {
      margin: 10px 0;
      padding: 20px;
      resize: none;
      background-color: rgb(79 0 228 / 80%);
      outline: none !important;
      &::placeholder {
        color: white;
      }
    }
    .send {
      width: 40%;
      background-color: rgb(79 0 228 / 80%);
      font-size: 27px;
      margin-top: 20px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
        letter-spacing: 1.5px;
      }
    }
  }
  @media (max-width: 958px) {
    & {
      grid-template-columns: 100%;
    }
  }
}
/* End Contact */
/* Start Footer */
footer {
  background-color: $main1-box-color;
  .container {
    place-items: center;
    padding: 7px 0;
    min-height: 60px;
    a {
      color: $main-color;
    }
  }
}
.up {
  left: -50px;
  bottom: 20px;
  z-index: 99;
  padding: 8px;
  height: 45px;
  width: 45px;
  background-color: $main-hover-color;
  cursor: pointer;
  transition: 0.3s;
  &.show {
    left: 20px;
  }
}
/* End Footer */
/* Start Animation */
@keyframes img-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes control-width {
  0% {
    width: 0;
  }
  50% {
    width: var(--test-width);
  }
  100% {
    width: 0;
  }
}
@keyframes waving {
  from {
    transform: skew(0, 5deg);
  }
  to {
    transform: skew(0, -5deg);
  }
}
/* End Animation */
.openVideo {
  transform: translate(40%, -50%);
  transition: 0.4s;
  i {
    cursor: pointer;
    background-color: $main-hover-color;
    width: 50px;
    height: 50px;
    padding: 5px;
    box-sizing: content-box;
  }
  video {
    max-width: 70%;
  }
  @media (max-width: 1000px) {
    & {
      max-width: 90%;
      transform: translate(52%, -50%);
      video {
        max-width: 90%;
      }
    }
  }
}
.blur {
  filter: blur(50px);
}
