.header.d-none.fixed-bottom.d-none.vw-100.rounded-top-2
  .container.d-flex.justify-content-between.py-3.px-0
    .links.d-flex.align-items-center.justify-content-between.flex-wrap
      div
        a.text-decoration-none.d-flex.flex-column-reverse.text-white.fw-semibold.align-items-center.gap-3(href="#home") Home
          i(class="uil uil-estate")
      div
        a.text-decoration-none.d-flex.flex-column-reverse.text-white.fw-semibold.align-items-center.gap-3(href="#about") About
          i(class="uil uil-user nav-icon")
      div
        a.text-decoration-none.d-flex.flex-column-reverse.text-white.fw-semibold.align-items-center.gap-3(href="#services") Services
          i(class="uil uil-suitcase-alt")
      div
        a.text-decoration-none.d-flex.flex-column-reverse.text-white.fw-semibold.align-items-center.gap-3(href="#skills") Skills
          i(class="fa-solid fa-file-signature")
      div
        a.text-decoration-none.d-flex.flex-column-reverse.text-white.fw-semibold.align-items-center.gap-3(href="#project") Project
          i(class="fa-solid fa-diagram-project")
      div
        a.text-decoration-none.d-flex.flex-column-reverse.text-white.fw-semibold.align-items-center.gap-3(href="#contact") Contact
          i(class="fa-solid fa-phone")