header.fixed-top.w-100
  .container.d-flex.justify-content-center.p-3
    .main-links.d-flex.align-items-center.gap-6
      a.text-decoration-none.fw-bold.active(href="#home") Home
      a.text-decoration-none.fw-bold(href="#about") About
      a.text-decoration-none.fw-bold(href="#services") Services
      a.text-decoration-none.fw-bold(href="#skills") Skills
      a.text-decoration-none.fw-bold(href="#project") Project
      a.text-decoration-none.fw-bold(href="#contact") Contact