.header.d-none.fixed-bottom.d-none.vw-100
  .container.d-flex.justify-content-between.py-3.px-0
    .links.d-flex.align-items-center.justify-content-between
      div
        a.text-decoration-none.d-flex.flex-column.align-items-center.gap-3(href="#home")
          i(class="uil uil-estate")
          p.m-0.fw-bold Home
      div
        a.text-decoration-none.d-flex.flex-column.align-items-center.gap-3(href="#about")
          i(class="uil uil-user nav-icon")
          p.m-0.fw-bold About
      div
        a.text-decoration-none.d-flex.flex-column.align-items-center.gap-3(href="#services")
          i(class="uil uil-suitcase-alt")
          p.m-0.fw-bold Services
      div
        a.text-decoration-none.d-flex.flex-column.align-items-center.gap-3(href="#skills")
          i(class="fa-solid fa-file-signature")
          p.m-0.fw-bold Skills
      div
        a.text-decoration-none.d-flex.flex-column.align-items-center.gap-3(href="#project")
          i(class="fa-solid fa-diagram-project")
          p.m-0.fw-bold Project
      div
        a.text-decoration-none.d-flex.flex-column.align-items-center.gap-3(href="#contact")
          i(class="fa-solid fa-phone")
          p.m-0.fw-bold Contact